.containerEstilo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    height: auto;
    width: 500px;
    border: 1px solid black;
    background-color: azure;
  }
  
  .entradaFormulario {
    width: 100%;
  }
  
  .listaDeTareas {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-bottom: 10px; 
  }
  
  .elementoDeTarea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  